<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>

   <% include ../partials/header.ejs %>

</head>
<body>

   <% include ../partials/nav.ejs %>

   <div class="container">
      <div class="row">

         <% include ../partials/sidebar.ejs %>

         <div class="main_col col-md" role="main">
            <div class="row">
               <h1 class="col-12"><%= title %></h1>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">
               <div class="col-12">
                  <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                     Create New Rental
                  </button>
               </div>
            </div>
            <div class="collapse" id="collapseExample">
               <div class="clearfix">&nbsp;</div>
               <form method="post" action="/admin/rental">
                  <div class="form-row">
                     <div class="col-md-6 mb-3">
                        <label for="display_name">"Name"</label>
                        <input type="text" class="form-control" placeholder='"Name"' name="display_name" id="display_name" maxlength="30" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="apt_number">Number</label>
                        <input type="text" class="form-control" placeholder="#" name="apt_number" id="apt_number" maxlength="6">
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="col-md-6 mb-3">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" placeholder="2 bed 1 bath" name="description" id="description" maxlength="100" required>
                     </div>
                     <div class="col-md-6 mb-3">
                        <label for="rate">Monthly Rate</label>
                        <input type="text" class="form-control" placeholder="$XXX" name="rate" id="rate" maxlength="6" required>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Create</button>
               </form>
            </div>
            <div class="clearfix">&nbsp;</div>

            <div class="row">

               <% if (results) { %>
               <div class="col-12 list-group">
                  <div class="list-group-item list-group-item-dark header">
                     <div class="row">
                        <div class="col">"Name"</div> 
                        <div class="col">Vacant?</div> 
                     </div>                                    
                  </div>
                        
                  <% results.forEach(function(r) { %>
                  <a href=<%= "/admin/rental/" +  r.id %> class="list-group-item list-group-item-action">
                     <div class="row">
                        <div class="col"><%= r.display_name %></div> 

                           <% if (r.vacant) { %>
                           <div class="col">Yes</div> 
                           <% } else { %>
                           <div class="col">No</div> 
                           <% } %>

                        </div>                                   
                  </a>
                  <% }); %>
                        
               </div>
               <% } else { %>
               <div class="col-12"><div class="row">No rentals to display.</div></div>
               <% } %>

            </div>
            <br />
         </div>
      </div>
   </div>

</body>
</html>