* {
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
body {
  display: block;
  margin: auto;     
}
h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
}
p, figcaption{
  color: #414143;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; 
}
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; 
  }
    .jumbotron .btn-primary:hover { background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; 
  }
  .navbar + .jumbotron { margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; 
  }
    .jumbotron .lang-logo img { max-width: 100%; }

