<!DOCTYPE html>
<html>
<head>
   <title><%= title %></title>

   <% include ./partials/header.ejs %>

   <script src="https://apis.google.com/js/platform.js" async defer></script>

   <meta name="google-signin-client_id" content="<%= googleSignInID %>">

   <script type="text/javascript">
      function onSignIn(googleUser) {
         const profile = googleUser.getBasicProfile();
         console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
         console.log('Name: ' + profile.getName());
         console.log('Image URL: ' + profile.getImageUrl());
         console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

         const id_token = googleUser.getAuthResponse().id_token;

         const xhr = new XMLHttpRequest();
         xhr.open('POST', '/admin/login');
         xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
         xhr.onload = function() {
            const res = JSON.parse(xhr.responseText);

            window.location.pathname = (res.success) ? '/admin' : '/';
         };
         xhr.send('idToken=' + id_token);
      }
   </script>

</head>
<body>
   <div class="container">
      <div class="row">
         <div class="main_col col-md" role="main">
            <div class="row">
               <h1 class="col-12"><%= title %></h1>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <br />
         </div>
      </div>
   </div>

</body>
</html>